doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link rel="icon" type="image/x-icon" href=/images/favicon.ico>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      div
        block sidebar
          ul(class='nav')
            li
              a(href='/home' class='nav-link') Home
            if currentUser
              li
                a(href='/home/members-sign-in' class='nav-link') Members Login
            li
              a(href='/home/sign-up' class='nav-link') Sign Up
            li
              a(href='/home/login' class='nav-link') Login
            li
              a(href='/home/logout' class='nav-link') Logout

      div(class='rendered-page')
        block content
