extends layout

block content
    h1(class="heading") Enter your new message here
    form(action="", method="post") 
        input(type="hidden", name="user" value=currentUser)
        label(for="messageTitle") Title
        input#title(type="text", name="messageTitle")
        label(for="newMessage") Message
        textarea#message(name="newMessage" max=1000) 
        button(type="submit" class="button") Add message

    if errors
        div(class='errors-container')
            h2(class="sub-heading") Please note the following issues with your request
            ul(class="error-list")
                for error in errors
                    li= error.msg
