extends layout

block content
    h1(class="heading")= title
    if signingUp
        h2(class="sub-heading") Join #{userCount} other users today!
    form(action="" method="post" class="form")  
        label(for='username') Username
        input(type="text", name="username" placeholder= signingUp ? "Keep it civil.." : "")
        label(for='password') Password
        input(type="password", name="password")
        if signingUp
            label(for='password') Password Confirmation
            input(type="password", name="passwordConfirmation")
        button(type="submit" class="button") Submit

    
    if errors
        div(class='errors-container')
            h2(class="sub-heading") Please note the following issues with your request
            ul(class="error-list")
                for error in errors
                    li= error.msg