extends layout

block content
    h1 #{title}
    form(action="", method="post") 
        label(for='username') Username
        input(type="text", name="username" placeholder="Enter a username here")
        label(for='password') Password
        input(type="password", name="password")
        if signingUp
            label(for='password') Password Confirmation
            input(type="password", name="passwordConfirmation")
        button(type="submit") Submit

    
    if errors
        div(class='error-container')
        h2 Please note the following issues with your request
        ul(class="error-list")
            for error in errors
                li= error.msg