@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  background: #24446e;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #24446e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #070d14;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
  cursor: pointer;
}

.nav-container {
  width: 100%;
  padding: 0 5px;
  background: #070d14;
}

.nav-container .nav {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.nav-container .nav .nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.nav-container .nav .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  margin-top: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.nav-container .nav .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.rendered-page {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rendered-page .heading {
  padding: 10px;
  text-align: center;
}

.rendered-page .sub-heading {
  font-size: 20px;
  max-width: 550px;
  padding: 10px;
}

.rendered-page .username-display {
  font-weight: normal;
}

.rendered-page .admin-color {
  color: lightblue;
}

.rendered-page .member-color {
  color: gold;
}

.rendered-page .general-color {
  color: pink;
}

.rendered-page .message-feed {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 2% 10%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rendered-page .message-feed .message-container {
  width: 80%;
  padding: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #070d14;
  border-radius: 10px;
  margin: 20px 0;
}

.rendered-page .message-feed .message-container .message-icon {
  width: 20%;
}

.rendered-page .message-feed .message-container .message-icon:hover {
  -webkit-animation: shake 0.3s;
          animation: shake 0.3s;
}

.rendered-page .message-feed .message-container .message-details {
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.rendered-page .message-feed .message-container .message-details .message-title {
  margin-bottom: 10px;
}

.rendered-page .message-feed .message-container .message-details .message-message {
  padding: 10px;
  background: #24446e;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.5;
}

.rendered-page .message-feed .message-container .message-details .message-time,
.rendered-page .message-feed .message-container .message-details .message-author,
.rendered-page .message-feed .message-container .message-details .message-delete-button {
  margin-top: 10px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.rendered-page .message-feed .message-container .message-details .message-delete-form {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.rendered-page form:not(.message-delete-form) {
  padding: 25px;
  background: #070d14;
}

.rendered-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12.5px;
}

.rendered-page form .message-delete-form {
  padding: 0;
}

.rendered-page form label {
  margin-top: 15px;
  font-size: 18px;
}

.rendered-page form label[for="username"],
.rendered-page form label[for="memberscode"],
.rendered-page form label[for="messageTitle"] {
  margin-top: 0;
}

.rendered-page form input[type="text"],
.rendered-page form input[type="password"],
.rendered-page form textarea {
  margin-top: 5px;
  font-size: 18px;
  background: #24446e;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  white-space: pre-wrap;
}

.rendered-page form input[type="text"]:focus,
.rendered-page form input[type="password"]:focus,
.rendered-page form textarea:focus {
  outline: none;
}

.rendered-page form textarea {
  resize: none;
  width: 250px;
  height: 300px;
}

.rendered-page form ::-webkit-input-placeholder {
  color: white;
}

.rendered-page form :-ms-input-placeholder {
  color: white;
}

.rendered-page form ::-ms-input-placeholder {
  color: white;
}

.rendered-page form ::placeholder {
  color: white;
}

.rendered-page .errors-container {
  margin-top: 15px;
}

.rendered-page .errors-container .error-list {
  list-style: none;
}

.rendered-page .errors-container .error-list li {
  margin-top: 10px;
  padding-left: 10px;
}

.button {
  background: #24446e;
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  margin-top: 15px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@-webkit-keyframes shake {
  30% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  30% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */